@charset "UTF-8";

/*
ユニバーサルセレクタを利用して初期化 */
* {
	margin : 0;
	padding : 0;
}

/*font-sizeはブラウザに対応させるため"%"表記*/
/*左右のマージンを自動調整*/
body {
	font-family : Verdana, "ＭＳ Ｐゴシック", sans-serif;
	font-size : 100%;

	width : 1200px;
	height : auto;
	margin-right : auto;
	margin-left : auto;

	text-align : center;

	color : white;
	background : #000000;
}

/*見出し関係の指定*/
h1 , h2 , h3 , h4 , h5 , h6 {
	padding-top : 10px;
	padding-bottom : 10px;
}

a {
	display : -webkit-flex;
	display :         flex;
	/* 垂直報告の指定 */
	align-items : center;
	justify-content : center;

	width : 100px;
	height : 25px;
	margin : 0 10px;
	padding-right : 15px;
	padding-left : 15px;

	text-decoration : none;

	color : white;
	border : solid 1px white;
}

/* リンクポイント時の背景色指定 */
a:hover {
	color : #8c0000;
}

img {
	width : 100%;
}

#top {
	display : -webkit-flex;
	display :         flex;
	/* 垂直報告の指定 */
	align-items : center;
	-webkit-flex-direction : row-reverse;
	        flex-direction : row-reverse;
	/* 水平方向の指定 */
	justify-content : flex-start;

	height : 42px;

	background-color : #000000;
}

div#eyecatch {
	position : relative;

	height : 360px;
}

div#test {
	position : absolute;/*絶対配置*/
	top : 50%;
	left : 50%;

	margin : 0;
	padding : 0;

	-webkit-transform : translate(-50%,-50%);
	    -ms-transform : translate(-50%,-50%);
	        transform : translate(-50%,-50%);
}

.btn {
	display : -webkit-flex;
	display :         flex;
	/* 垂直報告の指定 */
	align-items : center;
	-webkit-flex-direction : row;
	        flex-direction : row;
	/* 水平方向の指定 */
	justify-content : center;

	margin-top : 20px;
	margin-bottom : 20px;
}

#BtnColor {
	display : -webkit-flex;
	display :         flex;
	/* 垂直報告の指定 */
	align-items : center;
	-webkit-flex-direction : row;
	        flex-direction : row;
	/* 水平方向の指定 */
	justify-content : center;

	width : 100px;
	height : 40px;
	margin : 0 10px;

	border : solid 1px white;
	background-color : #000000;
}

/*  Flexbox を使う時の宣言
display: flex;
display: -webkit-flex;

*/
#footer {
	display : -webkit-flex;
	display :         flex;
	-webkit-flex-direction : column;
	        flex-direction : column;
	justify-content : center;

	height : 50px;

	background-color : #000000;
}

#MainArea {
	color : black;
	background-color : whitesmoke;
}

#subtitle {
	font-size : 20px;
}
