@charset "UTF-8";

/*
ユニバーサルセレクタを利用して初期化 */
* {
margin:0;
padding:0;
}

/*font-sizeはブラウザに対応させるため"%"表記*/
/*左右のマージンを自動調整*/
body {
background:#0a0a0a;
font-family:Verdana, "ＭＳ Ｐゴシック", sans-serif;
font-size:100%;
margin-right: auto;
margin-left : auto;
text-align: center;
width: 1200px;
height: auto;
color:white;
}

/*
見出し関係の指定*/
h1,h2,h3,h4,h5,h6 {
padding-bottom: 10px;
padding-top: 10px;
}

/* pタグ装飾 */ 
#head{
background-color: #8c0000;
height: 42px;
}

#top{
background-color: rgb(126, 122, 122);
height:102px;
text-align: right;
}

#eyecatch{
background-color: rgb(199, 183, 36);
height: 360px;
}

/*  Flexbox を使う時の宣言
display: flex;
display: -webkit-flex;

*/
#footer{
background-color: #2f3239;
height: 50px;
display: -webkit-flex;
display: flex;
}

#MainArea{
background-color: whitesmoke;
color:black;
}
